<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>

       <title><%=  @title ? @title : "Welcome" %> | rbLOG</title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  
    <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload'   %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  </head>

  <body>
<script type="text/javascript" src = "../../assets/froala_editor.pkgd.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="posts.html">rBlog/Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class=<%= params[:controller] === 'admin/posts' ? 'active' : '' %>>
              <%= link_to 'Posts', admin_posts_path %>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class=<%= params[:controller] === 'admin/categories' ? 'active' : '' %>>
              <%= link_to 'Categories', admin_categories_path %>
            </li>
             </ul>
          <ul class="navbar-nav mr-auto">
            <li class=<%= params[:controller] === 'admin/users' ? 'active' : '' %>>
              <%= link_to 'Users', admin_users_path %>
            </li>
           </ul>
       <%= render 'partials/search' %>
        </div>
      </nav>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="well">
                  <% if current_user %>
                    Logged In As <%= current_user.email %>
                    <%= link_to 'Log Out', admin_logout_path %>
                  <% else %>
                    <%= link_to 'Log In', admin_login_path %>
                  <% end %>
                    <br/>
                    <% if flash[:notice] %>
                      <div class='alert alert-success'><%= flash[:notice] %></div>
                    <% end %>
                    <% if flash[:alert] %>
                      <div class='alert alert-danger'><%= flash[:alert] %></div>
                    <% end %> 
                    <br/>
                    <%= yield %>
                </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <p>CopyRight &copy: 2020, rBlog | <%= link_to "FrontEnd", root_path %></a> </p>
      </footer>
   
  </body>
</html>
